@import "../reset.css";

.accordion{
    position: absolute;
    width: 960px;
    height: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

ul{
    width: 960px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul li{
    list-style: none;
    width: 190px;
    height: 300px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
    background-color: red;
}

ul:hover li{
    width: 100px;
}

ul li:hover{
    width: 400px;
}